[submodule "GekkoNet"]
	path = submodules/GekkoNet
	url = https://github.com/HeatXD/GekkoNet.git
	branch = main
[submodule "submodules/Spout2"]
	path = submodules/Spout2
	url = https://github.com/leadedge/Spout2
