# Python

.venv
venv
__pycache__

# macOS

.DS_Store

# IDEs

.vscode
.cache

# Project

build
temp
third_party
states
rom
dump
*.AFS
/third_party_android
/android/app/.cxx
/android/.gradle
/android/app/build
/android/app/src/main/jniLibs
.gradle
