[Desktop Entry]
Name=3SX
Comment=Street Fighter III: 3rd Strike
Exec=3sx
Icon=io.github.threestylextra.app
Type=Application
Categories=Game;ArcadeGame;
